/* Imports */
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Press+Start+2P&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Oswald:wght@600&family=Press+Start+2P&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Indie+Flower&family=Oswald:wght@600&family=Press+Start+2P&family=VT323&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Indie+Flower&family=Oswald:wght@600&family=Press+Start+2P&family=Tektur:wght@500&family=VT323&display=swap');


/* Fonts */
/* font-family: 'Agdasima', sans-serif; */
/* font-family: 'Press Start 2P', cursive; */
/* font-family: 'Oswald', sans-serif; */
/* font-family: 'Indie Flower', cursive; */
/* font-family: 'Tektur', cursive; */
/* #FFC107 */


/* Main CSS */
html{
	scroll-behavior: smooth;
}
body{
	background-image: url("../img/background.jpg");
	min-height: 1000px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	z-index: -1;
	background-attachment: fixed;
	
}

#honeycomb{
	position: relative;
	top: 300px;
	width: 100%;
	height: 100%;
	text-shadow: 8px 8px 10px #0000008c;
	background-color: #343a40;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #000000, #0e0e0f, #282729, #151314, #000000);
	
}
.nav .container{
	width: 100%;
	height: auto;
	text-shadow: 8px 8px 10px #0000008c;
	background: rgb(99, 99, 99);
	border-radius: 3px;
	padding: 10px;
}
.nav .col-md-12 ul {
	justify-content: center;
}
.nav ul li{
	margin-right: 30px;
}
.nav ul li a{
	font-size: 28px;
	color: inherit;
	color: #fff;
	font-family: 'Agdasima', sans-serif;
	position: relative;
	z-index: 1;
	text-decoration: none;
	
}
.nav ul li:nth-child(1) a:before,
.nav ul li:nth-child(2) a:before,
.nav ul li:nth-child(4) a:before,
.nav ul li:nth-child(5) a:before{
	content: '';
	position: absolute;
	left: -3px;
	bottom: 0;
	width: 0;
	height: 33px;
	background-color: #FFC107;
	z-index: -2;
	transition: 0.3s;
	border-radius: 5px;
}
.nav ul li a:hover:before{
	width: 107%;
}
.nav ul li a i{
	transition: 0.3s;
}
.nav ul li a i:hover{
	transform: scale(1.3);
}
.myself .container{
	width: 100%;
	height: auto;
	text-shadow: 8px 8px 10px #0000008c;
	background-color: #343a40;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='28' height='49' viewBox='0 0 28 49'%3E%3Cg fill-rule='evenodd'%3E%3Cg id='hexagons' fill='%239C92AC' fill-opacity='0.25' fill-rule='nonzero'%3E%3Cpath d='M13.99 9.25l13 7.5v15l-13 7.5L1 31.75v-15l12.99-7.5zM3 17.9v12.7l10.99 6.34 11-6.35V17.9l-11-6.34L3 17.9zM0 15l12.98-7.5V0h-2v6.35L0 12.69v2.3zm0 18.5L12.98 41v8h-2v-6.85L0 35.81v-2.3zM15 0v7.5L27.99 15H28v-2.31h-.01L17 6.35V0h-2zm0 49v-8l12.99-7.5H28v2.31h-.01L17 42.15V49h-2z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E"), linear-gradient(to right top, #000000, #0e0e0f, #282729, #151314, #000000);
	font-family: 'Agdasima', sans-serif;
	font-size: 55px;
	position: relative;
	border-radius: 15px;
	color: #fff;
	padding: 10px;
	top: 150px;
	
}
.myself .col-md-6{
	text-align: center;
}
.myself img{
	width: 300px;
	height: auto;
	border-radius: 15px;
}
.myself .second .col-md-6{
	top: 20px;
}
.myself .code{
	font-family: 'VT323', monospace;
	font-size: 40px;
}
.myself  span{
	color: #FFC107;
}
.myself p{
	text-transform: uppercase;
}
.myself .col-md-6 span.first,
.myself .col-md-6 span.second{
	position: relative;
	font-family: 'Tektur', cursive;
	font-size: 55px;
	
}
.myself .col-md-6 span.first:before{
	content: '';
	position: absolute;
	left: -8px;
	bottom: 10px;
	width: 230px;
	height: 8px;
	background-color: #00FFFF;
}
.myself .col-md-6 span.second:before{
	content: '';
	position: absolute;
	left: 20px;
	bottom: 9px;
	width: 430px;
	height: 8px;
	background-color: #00FFFF;
	
}
.myself .code{
	overflow: hidden; 
	border-right: .10em solid #FFC107; 
	white-space: nowrap; 
	margin: 0 auto; 
	letter-spacing: .05em;
	animation: 
	typing 3.5s steps(35, end),
	blink-caret .70s step-end infinite;
}

@keyframes typing {
	from { width: 0% }
	to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #FFC107; }
}
.profile{
	position: relative;
	top: 100px;
	
}
.profile .container{
	position: relative;
	text-align: center;
	/* top: -300px; */
	color: #fff;
	font-family: 'Agdasima', sans-serif;
	text-transform: uppercase;
	
}
.profile .container i.fa-solid.fa-user,
.education .container i.fa-sharp.fa-solid.fa-school{
	font-size: 40px;
}
.profile h1.header{
	position: relative;
}
.profile h1.header:before{
	content: '';
	position: absolute;
	bottom: -3px;
	left: 45%;
	width: 125px;
	height: 5px;
	background-color: #fff;
	border-radius: 5px;;
	
} 
.profile h3.moto{
	font-family: 'Oswald', sans-serif;
	font-style: italic;
}
.profile p{
	position: relative;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	font-size: 27px;
	text-align: justify;
	margin-top: 15px;
	border-left: 5px dashed #fff;
	border-right: 5px dashed #fff;
	padding-left: 40px;
	padding-right: 40px;
	border-radius: 15px;
}
.line{
	width: 500px;
	height: 5px;
	background-color: #fff;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	top: 120px;
	border-radius: 10px;
}
.education{
	top: 280px;
	position: relative;
	text-align: center;
	padding-bottom: 175px;
	color: #fff;
	font-family: 'Agdasima', sans-serif;
	text-transform: uppercase; 
}
.education h1.header{
	position: relative;
}
.education h1.header:before{
	content: '';
	position: absolute;
	bottom: -3px;
	left: 44%;
	width: 156px;
	height: 5px;
	background-color: #fff;
	border-radius: 5px;;
}
.education .school{
	margin-top: 100px;
}
.education .school .year p{
	background-color: #fff;
	color: #000;
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	display: flex; 
	justify-content: center; 
	align-items: center;
	font-size: 20px;
}
.education .school p.name{
	font-size: 28px;
	text-align: center;
	position: relative;
	right: -100px;
	font-style: italic;
	
}
.education p.pge{
	text-align: justify;
	font-size: 23px;
	background-color: rgba(172, 173, 172, 0.8);
	padding: 10px;
	border-radius: 5px;
	position: relative;
}
.education p.pge:before{
	content: '';
	position: absolute;
	right: -14px;
	top:-10px;
	width: 3px;
	height: 330px;
	background-color: #fff;
}
.education .university{
	margin-top: 50px;
}
.education .university .year p{
	background-color: #fff;
	color: #000;
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	display: flex; 
	justify-content: center; 
	align-items: center;
	font-size: 20px;
}
.education .university .name p{
	font-size: 30px;
	justify-content: left;
	align-items: left;
	position: relative;
	left: -100px;
	font-style: italic;
}
.education .university p.tu{
	text-align: justify;
	font-size: 23px;
	background-color: rgba(172, 173, 172, 0.8);
	padding: 10px;
	border-radius: 5px;
	position: relative;
}
.education .university p.tu:before{
	content: '';
	position: absolute;
	left: -14px;
	top:-10px;
	width: 3px;
	height: 230px;
	background-color: #fff;
}
.education .continue{
	margin-top: 55px;
}
.education .continue p{
	background-color: #fff;
	color: #000;
	width: 100px;
	height: 100px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 50%;
	display: flex; 
	justify-content: center; 
	align-items: center;
	font-size: 20px;
}
.internships{
	top: 100px;
	position: relative;
	text-align: center;
	padding: 80px;
	color: #fff;
	font-family: 'Agdasima', sans-serif;
	text-transform: uppercase;
	
}
.internships .container i.fa-solid.fa-award{
	font-size: 45px;
}

.internships h1.header{
	position: relative;
}
.internships h1.header:before{
	content: '';
	position: absolute;
	bottom: -3px;
	left: 44%;
	width: 156px;
	height: 5px;
	background-color: #fff;
	border-radius: 5px;;
}
.internships img{
	margin-top: 150px;
	width: 300px;
	height: auto;
}
.internships p{
	font-size: 24px;
}
.skills{
	top: 50px;
	position: relative;
	text-align: center;
	padding: 250px;
	color: #fff;
	font-family: 'Agdasima', sans-serif;
	text-transform: uppercase;
	
}
.skills .container i.fa-solid.fa-laptop-code{
	font-size: 60px;
}
.skills h1.header{
	position: relative;
}
.skills h1.header:before{
	content: '';
	position: absolute;
	bottom: -3px;
	left: 47%;
	width: 100px;
	height: 5px;
	background-color: #fff;
	border-radius: 5px;;
}
#chart {
	height: 400px;
	max-width: 1400px;
	margin: 0 auto;
	background-color:rgb(99, 99, 99);
	font-size: 24px;
	color: #fff;
	padding: 20px;
	position: relative;
	top: 100px;
	border-radius: 10px;
}
#chart{
	--data-axes-color: rgb(0, 0, 0, 0.7);
	--data-axes-style: solid;
	--data-axes-width: 2px;
	--secondary-axes-color: rgba(0, 0, 0, 0.7)
}
.charts-css.column:not(.reverse) tbody tr th {
	color: #fff;
}
#chart td {
	background-image: linear-gradient(
	45deg,
	#956fd3,
	#e76ec2,
	#ff7fa2,
	#ffa782,
	#ffd86f,
	#faf982
	);
	background-size: 600%;
	animation: gradient-animation 3s linear infinite alternate;
}
@keyframes gradient-animation {
	0%   { background-position:   0%; }
	100% { background-position: 100%; }
}
/* #axes-example-9 tbody td {
	transform-origin: bottom;
	animation: revealing-bars 8s linear infinite;
}
@keyframes revealing-bars {
	0%  { transform: scaleY( 0 ); }
	10% { transform: scaleY( 1 ); }
	
} */
#footer{
	background-color:rgb(99, 99, 99);
	position: relative;
	top: 300px;
	padding: 30px;
	text-transform: uppercase;
	font-family: 'Agdasima', sans-serif;
	color: #fff;
	
}
#footer p{
	font-size: 25px;
	vertical-align: middle;
	position: relative;
	
}
#footer span,
#footer i.fa.fa-heart{
	color: #FFC107;
}
/* Responsive */

@media only screen and (max-width: 1399px){
	.myself .container{
		font-size: 40px;
	}
	.internships p{
		font-size: 22px;
	}
	.myself .col-md-6 span.first,
	.myself .col-md-6 span.second{
		font-size: 45px;
	}
	
	.myself .col-md-6 span.first:before{
		content: '';
		position: absolute;
		left: -8px;
		bottom: 9px;
		width: 190px;
		height: 6px;
		background-color: #00FFFF;
	}
	.myself .col-md-6 span.second:before{
		content: '';
		position: absolute;
		left: 20px;
		bottom: 8px;
		width: 345px;
		height: 6px;
		background-color: #00FFFF;
	}
	.myself .code{
		font-family: 'VT323', monospace;
		font-size: 35px;
	}
	.profile h1.header:before{
		width: 115px;
	} 
	.education h1.header:before{
		left: 43%;
		width: 154px;
	}
	.internships h1.header:before{
		left: 43%;
	}
	.skills h1.header:before{
		left: 44%;
	}
	.skills .container i.fa-solid.fa-laptop-code{
		font-size: 55px;
	}
}
@media only screen and (max-width: 1250px){
	.internships p{
		font-size: 21px;
	}
	.internships h1.header:before{
		left: 42%;
	}
	.skills h1.header:before{
		left: 43%;
	}
}
@media only screen and (max-width: 1236px){
	#chart {
		font-size: 22px;
	}
}
@media only screen and (max-width: 1200px){
	#chart {
		font-size: 22px;
	}
	.myself .container{
		font-size: 38px;
	}
	.myself .col-md-6 span.first,
	.myself .col-md-6 span.second{
		font-size: 42px;
	}
	.myself .code{
		font-family: 'VT323', monospace;
		font-size: 30px;
	}
	.myself .col-md-6 span.first:before{
		left: -8px;
		bottom: 4px;
		width: 190px;
		height: 6px;
	}
	.myself .col-md-6 span.second:before{
		left: 20px;
		bottom: 4px;
		width: 325px;
		height: 6px;
	}
	.profile h1.header:before{
		left: 44%;
		width: 112px;
	} 
	.education h1.header:before{
		left: 42%;
		width: 152px;
	}
	.internships h1.header:before{
		left: 43%;
	}
	.skills h1.header:before{
		left: 44%;
	}
	
	.education p.pge:before{
		right: -14px;
		top:-20px;
		height: 370px;
	}
	.education .university{
		margin-top: 30px;
	}
	.education .university p.tu:before{
		top: 0px;
	}
	.education .continue{
		margin-top: 15px;
	}
	.internships h1.header:before{
		left: 42%;
	}
	.skills h1.header:before{
		left: 42%;
	}
}
@media only screen and (max-width: 1183px){
	#chart {
		font-size: 20px;
	}
}
@media only screen and (max-width: 1130px){
	#chart {
		font-size: 18px;
	}
	.internships img{
		width: 100%;
		max-width: 300px;
	}
}
@media only screen and (max-width: 600px){
	.myself .container{
		font-size: 30px;
	}
	.myself .col-md-6 span.first,
	.myself .col-md-6 span.second{
		font-size: 30px;
	}
	
	.myself .col-md-6 span.first:before{
		display: none;
	}
	.myself .col-md-6 span.second:before{
		display: none;
	}
	.myself .code{
		font-family: 'VT323', monospace;
		font-size: 16px;
	}
	.myself img{
		width: 200px;
		height: auto;
		border-radius: 15px;
	}
	.profile{
		top: 50px;
	}
	.profile .container i.fa-solid.fa-user{
		font-size: 30px;
	}
	.profile h1.header:before{
		left: 45%;
		width: 50px;
	} 
	.profile h3.moto{
		font-size: 16px;
	}
	.profile p{
		width: 80%;
		font-size: 20px;
	}
	.line{
		width: 250px;
		height: 5px;
		background-color: #fff;
		position: relative;
		margin-left: auto;
		margin-right: auto;
		top: 80px;
		border-radius: 10px;
	}
	
	.education{
		top: 150px;
	}
	.education h1.header{
		position: relative;
	}
	.education h1.header:before{
		left: 40%;
		width: 100px;
	}
	.education .school{
		margin-top: 100px;
	}
	.education .school .year p{
		background-color: #fff;
		color: #000;
		width: 100px;
		height: 100px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50%;
		display: flex; 
		justify-content: center; 
		align-items: center;
		font-size: 20px;
	}
	.education .school p.name{
		font-size: 19px;
		right: -50px;
	}
	.education p.pge{
		font-size: 17px;
	}
	.education p.pge:before{
		height: 400px;
	}
	.education .university{
		margin-top: 5px;
	}
	.education .university .year p{
		background-color: #fff;
		color: #000;
		width: 100px;
		height: 100px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 50%;
		display: flex; 
		justify-content: center; 
		align-items: center;
		font-size: 20px;
	}
	.education .university .name p{
		font-size: 19px;
		left: -40px;
	}
	.education .university p.tu{
		font-size: 17px;
	}
	.education .university p.tu:before{
		content: '';
		position: absolute;
		left: -14px;
		top:-10px;
		width: 3px;
		height: 300px;
		background-color: #fff;
	}
	
	.internships{
		top: 10px;
		padding: 10px;
	}
	.internships h1.header:before{
		left: 38%;
		width: 125px;
	}
	.internships img{
		margin-top: 80px;
		width: 200px;
	}
	.internships p{
		font-size: 20px;
	}

	.skills{
		top: -200px;
		padding-bottom: 80px;	
	}
	.skills .container i.fa-solid.fa-laptop-code{
		font-size: 50px;
	}
	.skills h1.header:before{
		left: 0%;
		width: 68px;
	}
	#chart {
		height: 300px;
		width: 500px;
		font-size: 17px;
		padding: 10px;
		left: -220px;
	}
	#footer{
		top: 230px;
		padding: 20px;
		
	}
	#footer p{
		font-size: 18px;
		margin-top: 20px;
	}
	#footer span,
	#footer i.fa.fa-heart{
		color: #FFC107;
	}
}