/* Imports */
@import url('reset.css');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima&family=Press+Start+2P&family=VT323&display=swap');

/* Fonts */
/* font-family: 'Agdasima', sans-serif; */
/* font-family: 'Press Start 2P', cursive; */
/* #FFC107 */


.image{
	background-image: url("../img/background.jpg");
	min-height: 1000px; 
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	top:-100px;
	z-index: -1;
	background-attachment: fixed;

}
.nav .container{
	background: rgb(94, 93, 93);
	background: rgba(94, 93, 93, 0.8);
	border-radius: 3px;
	box-shadow: 0px 1px 10px 10px #5e5d5d;
	padding: 10px;
}
.nav .col-md-12 ul {
	justify-content: center;
}
.nav ul li{
	margin-right: 30px;
}
.nav ul li a{
	font-size: 28px;
	color: inherit;
	color: #fff;
	font-family: 'Agdasima', sans-serif;
	position: relative;
	z-index: 1;
	text-decoration: none;
	
}
.nav ul li:nth-child(1) a:before,
.nav ul li:nth-child(2) a:before,
.nav ul li:nth-child(4) a:before,
.nav ul li:nth-child(5) a:before{
	content: '';
	position: absolute;
	left: -3px;
	bottom: 0;
	width: 0;
	height: 33px;
	background-color: #FFC107;
	z-index: -2;
	transition: 0.3s;
	border-radius: 5px;
}
.nav ul li a:hover:before{
	width: 107%;
}
.nav ul li a i{
	transition: 0.3s;
}
.nav ul li a i:hover{
	transform: scale(1.3);
}
.myself .container{
	background-color: rgba(94, 93, 93, 0.6);
	font-family: 'Agdasima', sans-serif;
	font-size: 50px;
	position: relative;
	border-radius: 15px;
	color: #fff;
	padding: 10px;
	top: -800px;
	
}
.myself .col-md-6{

	text-align: center;
}
.myself img{
	width: 300px;
	height: auto;
}
.myself .second .col-md-6{
	top: 20px;
}
.myself .code{
	font-family: 'VT323', monospace;
	font-size: 40px;
}
.myself  span{
	color: #FFC107
}
.myself .code{
	overflow: hidden; 
	border-right: .10em solid #FFC107; 
	white-space: nowrap; 
	margin: 0 auto; 
	letter-spacing: .05em;
	animation: 
	  typing 3.5s steps(35, end),
	  blink-caret .70s step-end infinite;
}

@keyframes typing {
	from { width: 0% }
	to { width: 100% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
	from, to { border-color: transparent }
	50% { border-color: #FFC107; }
  }
  .profile{
	background-color: red;
	position: relative;
	top: -600px;
	padding: 100px;;
  }
  .profile .container{
	position: relative;
	text-align: center;
	border: 2px solid #000;
	/* top: -300px; */

  }